@font-face {
    font-family: comic;
    src: url(ComicSansMS3.ttf);
}
body{
    color: rgb(255, 255, 255);
    background: #352A5A;;
    font-family:  comic;
    margin: 0;
}

#form form input:nth-child(2) {
    width: 25%;
    background: linear-gradient(270deg, rgba(231, 37, 211, 0.5) -6.73%, rgba(170, 101, 203, 0.9375) 29.4%, #C091D7 95.65%);
    color: white;
    border-radius: 10px;
}
form {
    text-align: center;
    margin: auto;
    display: flex;
    width: 65%;
    margin-top: 80px;
    margin-bottom: 50px;

}
#city {
    background: linear-gradient(270deg, rgba(231, 37, 211, 0.5) -6.73%, rgba(170, 101, 203, 0.9375) 29.4%, #C091D7 95.65%);
    color: white;
    width: 100%;
    padding: 15px 0 ;
    margin: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px inset #381366;
}


input {
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

#sumbit:hover {
    background-color: rgb(204, 207, 211);
    cursor: grab;
}

.cityname{
    font-size: 1.8rem;
    text-align: center;
    background: linear-gradient(270deg, rgba(231, 37, 211, 0.5) -6.73%, rgba(174, 87, 214, 0.9375) 40.42%, #C091D7 95.65%);
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.info {
    font-size: 1.5rem;
    padding: 20px;
    background: #381366;
    border-radius: 10px;
    width:30%;
    text-align: center;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tempdes {
    display: flex;
    justify-content: space-around;

}


a, a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.weather {  
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
}
#paragraph1 {
    text-align: center;
}


::-webkit-input-placeholder {
    text-align: center;
    color: #D0B3B3;
}
:-moz-placeholder {
    text-align: center;
    color: #D0B3B3;
  }
  
@media (max-width:650px){
    html {
        font-size: 0.5rem;
    }

    .info {
        width: 10%;
    }

    .cityname {
        margin-bottom: 20px;
    }

    #form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #details {
        padding-top: 00px;
    }

    .weather{
        margin-top: 0;
    }
    .info {
        width: 20%;
        height: 10px;
    }
}